$color_white: #fff;
$color_black: #2F2A22;
$color_brown: #726355;

$color_red_dark: #C65437;
$color_red: #DD6247;
$color_red_light: #DF8564;

$color_beige: #FFF5E4;


$color_body: $color_black;
$color_body_background: $color_beige;

$color_nav: $color_white;
$color_nav_link: $color_white;
$color_nav_link_hover: $color_red_light;
$color_nav_background: $color_black;

$color_footer: $color_white;
$color_footer_background: $color_red_dark;
